---
import '@fontsource/poppins';
import '@fontsource/lato';
interface Props {
	title: string;
	body: string;
	image: string;
	author: string;
	authorImg: string;
	role: string;
}

const { title, body, image, author, role, authorImg } = Astro.props;
---

<div class="w-[450px] rounded-2xl bg-white">
	<div class="relative">
		<img class="rounded-2xl object-cover" src={image} alt={title}>
		<img class="absolute -bottom-1 w-full" src="public/white-overlay.svg" alt="Overlay">
	</div>
	<div class="flex flex-col p-8 pt-2">
		<h2 class="text-2xl font-semibold font-[Poppins] leading-9 text-[#111729] mb-4">{title}</h2>
		<p class="text-[#677489] text-base font-[Lato] font-medium">{body}</p>
	</div>
	<footer class="flex items-center gap-x-4 p-8">
		<img class="rounded-full w-12 h-12 border-4 border-gray-100" src={authorImg} alt={author}>
		<div class="flex flex-col font-[Lato]">
			<span class="font-bold">{author}</span>
			<small class="text-[#677489] font-medium">{role}</small>
		</div>
	</footer>
</div>
<style>
	
</style>
